html,body,div {
	background-color: LightGreen  ;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
	
footer {
   text-align: center;
   margin-top : 5px;
  
}
footer a:link {
	color: goldenrod;
	font-weight:bold;
	 
}
p.size {
	font-weight:bold;
}
.day
{
	margin-top:70px;
	color:black;
	font-size:40px;
	border:7px ridge orange;
	padding:10px;
	width:500px;
	margin-left:450px;
	text-align: center;
	

}
.t {
	margin-top:20px;
	font-size:130px;
	color:black;
	border:7px ridge orange;
	padding:10px;
	width:700px;
	margin-left:350px;
		text-align: center;

}

img.position {
	background-position: left;
	margin: 0 auto;
	position: absolute;

margin: -110px 100px 100px -80px;
